config msd_lite 'config'
	option bind_interface 'br-lan'
	option source_interface 'eth1'
	option thread_count '4'
	option hub_drop_slow_client '0'
	option hub_persist_when_no_client '0'
	option threads '0'
	option hub_persist_when_no_source '0'
	option bind_address '192.168.0.254:7088'
	option hub_use_polling_for_send '0'
	option thread_bind_cpu '1'
	option hub_zero_copy_on_send '1'
	option source_ring_buffer_size '102400'
	option source_multicast_rejoin_interval '0'
	option hub_wait_precache '0'
	option hub_precache_size '2048'
	option enable '1'
	option multicast_recv_buffer_size '512'
