name: Build msd_lite for RK3568 (21.02.1)

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SDK_DIR: openwrt-sdk/sdk

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Download OpenWrt 21.02.1 SDK
      run: |
        mkdir -p openwrt-sdk
        cd openwrt-sdk
        wget https://downloads.openwrt.org/releases/21.02.1/targets/armvirt/64/openwrt-sdk-21.02.1-armvirt-64_gcc-8.4.0_musl.Linux-x86_64.tar.xz
        tar -xf openwrt-sdk-21.02.1-armvirt-64_gcc-8.4.0_musl.Linux-x86_64.tar.xz
        mv openwrt-sdk-21.02.1-armvirt-64_gcc-8.4.0_musl sdk

    - name: Copy msd_lite package
      run: |
        cd ${{ env.SDK_DIR }}/package
        cp -R ../../../openwrt_msd_lite/msd_lite .

    - name: Update feeds
      run: |
        cd ${{ env.SDK_DIR }}
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    - name: Build msd_lite
      run: |
        cd ${{ env.SDK_DIR }}
        make package/msd_lite/compile V=s -j$(nproc)
